<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTC Grading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>809CC5A61F272CDA00A814C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>809CC5BD1F272CDA00A814C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>809CC5C81F272CDA00A814C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
